*{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
.buscar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background:rgba(255, 255, 255, 0.774);
    padding: 10px;
    height: 80px;
    border-radius: 40px;
    }
.buscar_texto{
    border: none;
    background: none;
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    float: left;
    line-height: 60px;
    transition: .3s;
    width: 0;
    }
.boton{
width: 40px;
height: 40px;
text-decoration: none;
color: rgb(0, 0, 0);
font-size: 30px;
    }
   
    .content-search{
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 60px;
        left: 0;
        background: rgba(0, 0, 0, 0);
        display: none;
    }
    
    .content-table{
        width: 90%;
        max-height: 200px;
        height: auto;
        background: rgba(255, 255, 255, 0.774);
        overflow-y: visible;
        overflow-x: hidden;
    }
    
    .content-table table{
        width: 100%;
    }
    
    tbody tr td a{
        display: block;
        padding: 10px;
        color: rgb(0, 0, 0);
        text-decoration: none;
    }
    
    tbody tr td a:hover{
        background: rgba(255, 0, 234, 0.466);
    }
    
    #table_length, #table_filter, #table_info, #table_paginate{
        display: none;
    }
    
        
 /*=?=====RESPONSIVE=========*/
@media screen and (min-width:480px){
.buscar:hover >.buscar_texto{
width: 190px;
        }
      }
@media screen and (min-width:768px){
.buscar:hover >.buscar_texto{
width: 300px;
        }
      }
@media screen and (min-width:1024px){
          .buscar:hover >.buscar_texto{
            width: 500px;
      }
}